body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

.buttons a {
    display: inline-block;
    margin: 20px;
    padding: 15px 25px;
    background: #1e293b;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.buttons a:hover {
    background: #38bdf8;
}
